.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    }
  body {
    background: url("https://media.giphy.com/media/YnexM9LwlwGu4Z1QnS/giphy.gif");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .form{
  /* From https://css.glass */
  padding: 20px;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  }
  
  .app h1 {
    color: white;
  }
